<div id="contenedor-footer">

  <div class="content" id="navegacion">
    <h4>CATEGORIAS</h4>
    <li>
      <ul *ngFor="let categoria of categorias"><a href="/home">{{categoria.categoria}}</a></ul>
    </li>
  </div>

  <div class="content" id="navegacion">
    <h4>NAVEGACION:</h4>
    <li>
      <ul><a href="/home">Home</a></ul>
      <ul><a href="/contacto">Contacto</a></ul>
      <ul><a href="/store/0">Tienda</a></ul>
      <ul><a href="/carrito">Carrito</a></ul>
    </li>
  </div>

  <div class="content" id="redes-sociales">
    <h4>REDES SOCIALES</h4>
    <li>
      <ul class="horizontal"><a target="_blank" href="https://api.whatsapp.com/send?phone=+549341157238680&text=Hola!%20quiero%20realizar%20la%20siguiente%20consulta."><img class="icon" src="assets\icons\whatsapp.png" ></a></ul>
      <ul class="horizontal"><a target="_blank" href="https://www.instagram.com/pupitapetshop/"><img class="icon" src="assets\icons\instagram.png" ></a></ul>
      <ul class="horizontal"><a target="_blank" href="https://www.facebook.com/PUPITAPETSHOP/"><img class="icon" src="assets\icons\facebook.png" ></a></ul>
    </li>
  </div>

  <div class="content" id="redes-sociales">
    <h4>MEDIOS DE PAGO</h4>
    <li>
      <ul class="horizontal"><img class="icon" src="assets\icons\mercadopago.png"></ul>
      <ul class="horizontal"><img class="icon" src="assets\icons\mastercard.png"></ul>
      <ul class="horizontal"><img class="icon" src="assets\icons\visa.png"></ul>
    </li>
  </div>
</div>
