<div class="page-component">

<app-nav actual="4"></app-nav>

<div id="contenido">
  <h4 *ngIf="!estadoRecurso.undefined" id="titulo">Carrito:</h4>

  <div *ngIf="estadoRecurso.undefined" id="contenedor-loading">
    <app-loadder id="loading"></app-loadder>
  </div>


  <div id="contenedor-productos" *ngIf="!estadoRecurso.undefined">
    <div class="generador-productos" *ngFor="let producto of productoCantidad" >

      <div class="producto" >

      <!--
        <div class="selector-cantidad">
          <input readonly class="input-cantidad" type="number" min="1" max="15" [value]="producto.cantidad"> x
          <img class="imagen" [src]="producto.producto.imagen1">
        </div>
      -->

        <div class="selector-cantidad">

          <div id="cantidad">{{producto.cantidad}}</div>
            <div id="botones-cantidad">

              <button (click)="aumentarProducto(producto.producto.id,producto.cantidad,producto.producto.cantidadmaxima)" class="boton-cantidad material-symbols-outlined">
                <p class="flecha">arrow_drop_up</p>
              </button>

              <button (click)="disminuirProducto(producto.producto.id,producto.cantidad)" class="boton-cantidad material-symbols-outlined">
                <p class="flecha">arrow_drop_down</p>
              </button>

            </div>
          <p id="x-cantidad">x</p>
        </div>

        <div class="contenedor-imagen">
          <img clasS="imagen" [src]="producto.producto.imagen1">
        </div>


        <div id="titulo-descripcion">
          <div class="descripcion">
            <a [href]="productoLink(producto.producto)"><h4 class="titulo-producto">{{producto.producto.nombre}}</h4></a>
            <p class="descripcion-producto">{{producto.producto.descripcioncorta}}</p>
          </div>
        </div>

        <div class="precio">
          <h5>
            <div id="precio-cantidad">
              {{producto.cantidad}} x
            </div>
              {{precio(producto.producto.precio, 2)}}
            </h5>
        </div>

        <div class="contenedor-borrar-in">
          <img class="borrar" (click)="eliminarProducto(producto.producto.id)" src="assets\utils\delete.png">
        </div>

      </div>

      <div class="contenedor-borrar">
          <img class="borrar" (click)="eliminarProducto(producto.producto.id)" src="assets\utils\delete.png">
      </div>

    </div>

    <div id ="texto-vacio" *ngIf="productosCarrito == 0">
      No hay productos en el carrito.
    </div>

    <div id="total" *ngIf="productosCarrito.length > 0">
      <h4 class="total-texto">Total: {{precio(total,2)}}</h4>
    </div>

    <a *ngIf="productosCarrito.length > 0" class="boton1-a" href="#/comprar">Iniciar compra</a>
  </div>

</div>
</div>
