#contenedor-carrito{
  min-height: calc(100vh - 60px);
}

#contenido {
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  border-radius: 8px;
  border: 1px;
  border-color: rgba(0, 0, 0, 0.158);
  border-style: solid;
  min-height: 510px;
  width:800px;
  font-family: 'Red Hat Display', sans-serif;
}

#titulo{
  color:rgba(0, 0, 0, 0.651);
  font-size: 17px;
}

#mensaje-espera{
  font-size: 17px;
  margin-top: 30px;
  color:rgba(0, 0, 0, 0.61);
}

#texto-vacio{
  font-size: 17px;
  margin-top: 30px;
  color:rgba(0, 0, 0, 0.61);
}


.producto{
  margin:5px;
  border-radius: 8px;
  border: 1px;
  border-color: rgba(0, 0, 0, 0.158);
  border-style: solid;
  vertical-align: top;
  display: inline-flex;
  flex-direction: row;
  padding-left: 40px;
  width:690px;
  align-items: center;
}

.contenedor-imagen{
  display: flex;
  margin:4px;
  height: 80px;
  align-items: center;
}
.imagen{
  max-width: 80px;
  max-height: 80px;
}

.descripcion{
  margin:5px;
  padding-top: 0px;
  flex-grow: 2;
  padding:4px;
}

.precio{
  font-size: 18px;
  margin:5px;
  flex-grow: 1;
  text-align: end;
}

.titulo-producto{
  margin-top: 5px;
  margin-bottom: 5px;
}

.descripcion-producto{
  margin-top: 5px;
  margin-bottom: 5px;
}

.borrar{
  height: 20px;
  opacity: 60%;
}

.borrar:hover{
  height: 21px;
  opacity: 80%;
  cursor:pointer;
}

.contenedor-borrar{
  display: inline-flex;
  margin-top:7px;
  height: 90px ;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.total-texto{
  padding-top: 30px;
  width: min-content;
  display:inline;
  text-align: end;
}

#total{
  padding-top:20px;
  margin-bottom: 20px;
}

#boton-comprar{
  cursor: pointer;
  background-color: rgb(100, 121, 235);
  height: 35px;
  width: 120px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
  color: white;
  padding:5px;
  margin-bottom: 50px;
}

.contenedor-borrar-in{
  display: absolute;
  visibility: hidden;
}

.selector-cantidad{
  display: flex;
  align-items: center;
  font-size: 18px;
  color:rgb(0, 0, 0);
}

.material-symbols-outlined{
  font-size: 15px;
}

.input-cantidad{
  opacity: 95%;
  width: 40px;
  height: 18px;
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgba(0, 0, 0, 0.76);
  margin-right:  12px;
  transform: translateY(2px);
}

#botones-cantidad{
  padding:0;
  background-color: rgba(137, 43, 226, 0);
}

.boton-cantidad{
  display: flex;
  height: 12px;
  width: 16px;
  padding:0;
  transform: translateY(2px);
  font-size: 25px;
  align-items: center;
  vertical-align: middle;
  margin: 6px;
  border-style: none;
  background-color: rgba(15, 20, 22, 0.726);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.911);
  margin-right: 12px;
  cursor:pointer;
  opacity: 70%;
}

.boton-cantidad:hover{
  opacity: 100%;
}

.flecha{
  transform: translateX(-4px);
}

#x-cantidad{
  margin-left: 12px;
  margin-right: 12px;
}

#cantidad{
  display: flexs;
  border-style: solid;
  border-width: 1px;
  opacity: 95%;
  width: 40px;
  height: 20px;
  border-color: rgba(0, 0, 0, 0.452);
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgba(0, 0, 0, 0.76);
  margin-right:  3px;
  transform: translateY(2px);
  align-items: center;
  vertical-align: middle;
}

#precio-cantidad{
  display: inline;
  opacity: 60%;
  margin-right: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  margin: 0;
  opacity: 100%;
}

input[type=number]{
  border-color: rgba(22, 22, 22, 0.363);
  border-width: 1px;
  border-radius: 1px;
}

#titulo-descripcion{
  display:flex;
  align-items: center;
  text-align: center;
  flex-grow: 3;
}

#precio-descripcion{
  display: inline;
  text-align: center;
}

@media only screen and (max-width: 800px) {

  #contenido{
    width: 97vw;
    background-color: rgba(255, 255, 255, 0);
    margin:0;
    margin-bottom: 50px;
    border-style: none;
    min-height: 0;
  }

  .producto{
    margin:5px;
    border-radius: 8px;
    border: 1px;
    border-color: rgba(0, 0, 0, 0.158);
    border-style: solid;
    vertical-align: top;
    display: inline-flex;
    flex-direction: row;
    padding-left: 10px;
    width:90vw;
  }

  .input-cantidad{
    opacity: 95%;
    width: 40px;
    height: 18px;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(0, 0, 0, 0.76);
    margin-right:  10px;
    transform: translateY(2px);
  }

  .boton-cantidad{
    display: flex;
    height: 18px;
    width: 25px;
    padding:0;
    transform: translateY(2px);
    font-size: 35px;
    align-items: center;
    vertical-align: middle;
    margin: 6px;
    border-style: none;
    background-color: rgba(15, 20, 22, 0.726);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.911);
    cursor:pointer;
    opacity: 70%;
  }

  .descripcion-producto{
    visibility: hidden;
    position:absolute;
  }

  .contenedor-borrar{
    visibility: hidden;
    position:absolute;
  }

  .contenedor-borrar-in{
    display:flex;
    right: 10px;
    margin-top:7px;
    height: 90px ;
    width: 40px;
    align-items: center;
    visibility: visible;
  }

  #titulo-descripcion{
    display:flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
  }

  .precio{
    display: inline;
    text-align: center;
    font-size: 15px;
  }

  .imagen{
    height: auto;
    width: auto;
    max-height: 75px;
    max-width: 75px;
  }

  #x-cantidad{
  visibility: hidden;
  position:absolute;
  }
  #cantidad{
    width: 30px;
    font-size: 14px;
  }
}
