mat-icon{
  position:absolute;
  font-size: 15px;
  margin-left:5px;
  transform: translateY(1px);
  opacity: 80%;
}

.producto {
  display: inline-block;
  width: 186px;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  margin: 8px;
  padding: 0;
  /*box-shadow: 10px 10px 15px 3px rgba(0, 0, 0, 0.137);*/
  cursor: pointer;
  animation-name: transicionProductos;
  animation-duration: 0.4s;
  border-style: solid;
  border-width: 1px ;
  /*border-color: #e6e6e6;*/
  border-color: #e0e0e085;
  border-radius: 5px;
  vertical-align: top;
  background-color: rgb(255, 255, 255);
}

.producto:hover{
 border-color: #00000048;
   /*box-shadow: 0px 1px 4px 2px rgba(56, 56, 56, 0.122);*/
}

.producto-imagen {
  max-height: 182px;
  max-width: 100%;
  margin-bottom: 6px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  object-fit:cover;
}

#contenedor-imagen{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 183px;
  width: 100%;
  object-fit:cover;
  margin:0;
  padding:0;
}

.producto-nombre {
  font-size: 16px;
  min-height: 40px;
  font-weight: 500;
  margin: 13px;
}

.producto-descripcion {
  font-size: 14px;
  margin: 12px;
  min-height: 52px;
  font-weight: 500;
  opacity: 85%;
}

.producto-precio {
  margin: 10px;
  color: rgba(46, 192, 46, 0.952);
  /*color:#f57332;*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}

.agregar-input{
  height: 22px;
  width: 20px;
  display: inline;
  margin-right: 15px;
}

.agregar-boton{
  display:inline;
  margin:12px;
  margin-bottom: 22px;
  height: 30px;
  min-width: 90px;
  border-radius: 3px;
  background-color: rgba(65, 137, 230, 0.205);
  color: #4f708fd7;
  margin-right: 0;
  font-weight: 600;
  font-size: 14px;
  border-style: none;
  cursor:pointer;
  z-index:60000;
}

.agregar-boton:hover{
  background-color: rgba(65, 137, 230, 0.192);
  color:rgba(12, 48, 167, 0.63);
  border-style: solid;
  border-width: 1px;
  border-color:#1414142a;
}

@media only screen and (max-width: 470px) {
  .producto {
    width: 42vw;
    height: auto;
    padding: 0px;
    margin: 2vw;
  }

  .producto-imagen {
    max-height: 41.7vw;
    max-width: 100%;
    margin-bottom: 6px;
    margin:0;
  }

  #contenedor-imagen{
    height: 42vw;
    width: 100%;
    margin:0;

  }

  .producto-nombre {
    font-size: 4vw;
    min-height: 8vw;
  }

  .producto-descripcion {
    font-size: 3vw;
    min-height: 8vw;
    margin: 1px;
    color:rgb(4, 51, 70);
  }

  .producto-precio {
    font-size: 15px;
  }

  .agregar{
    padding:6px;
    margin:2px;
  }
}
