<app-alert
  *ngIf="mostrarAlert"
  [titulo]="producto.nombre"
  textoBoton="Agregar al carrito!"
  accion = "agregar-carrito"
  tipo="inputNumber"
  [productoId] = "producto.id"
  textoCancelar="Cancelar"
  accionCancelar="actualizar"
  [productoCantidadMaxima] = "producto.cantidadmaxima"
  >
</app-alert>

<button (click)="abrirProducto(producto)" class="producto">
  <div id="contenedor-imagen">
    <img [src]="producto.imagen1" class="producto-imagen"/>
  </div>

  <div id="descripcion">
    <p class="producto-nombre">{{ producto.nombre }}</p>
    <p class="producto-descripcion">
      {{ longitud( producto.descripcioncorta , 30) }}...
    </p>
    <p class="producto-precio">{{ precio(producto.precio, 0) }}</p>
  </div>

  <div class="agregar">
   <!--<input class="agregar-input" type="number" placeholder="1">-->
    <button class="agregar-boton" style="pointer-events:auto" (click)="mostrarAlertCantidad()" (mouseenter)="desactivarLink()" (mouseout)="activarLink()">Agregar</button>
  </div>
</button>
