#contenedor-loading{
  position:relative;
  margin: 50px auto;
  height: 15px;
  width: 320px;
  text-align: center;  /*background-color: aqua;*/
}

#loading{
  position:relative;
}

@keyframes shadowPulse {
  33% {
    background: #e6e6e6;
    box-shadow: -24px 0 #7a9cac, 24px 0 #e6e6e6;
  }
  66% {
    background: #6f92a1;
    box-shadow: -24px 0 #e6e6e6, 24px 0 #FFF;
  }
  100% {
    background: #FFF;
    box-shadow: -24px 0 #ececec, 24px 0 #7fa1b1;
  }
}


p {
  font-family: Lato;
}
button {
  margin: 2px;
  cursor: pointer;
}
span {
  margin: 3px;
}

#contenedor-store {
  min-height: calc(100vh);
}
#galeria {
  margin: 5px;
  margin-bottom: 50px;
  margin-right: 40px;
  background: rgba(235, 235, 235, 0);
  display: inline-block;
  min-height: 600px;
  border-radius: 4px;
  padding: 2px;
  width: 76vw;

}
.contenedorProducto {
  display: inline;
}
#chat {
  position: fixed;
  height: 45px;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
}
#chat:hover {
  height: 50px;
}
#contenedor-tools {
  margin-top: 7px;
  padding: 5px;
  font-size: 16px;
  display: block;
  background-color:rgb(255, 255, 255);
  animation-name: transicionNavegador;
  animation-duration: 0.3s;

  /*
  border-bottom-style: solid ;
  border-color: rgba(155, 98, 29, 0.596);
  border-width: 1px;*/

  padding-bottom: 0;
}
.tools {
  display: inline;
  margin: 10px;
  margin-bottom: 0px;
  font-family:'Montserrat', sans-serif;
  font-size: 14px;
  color: rgba(245, 245, 245, 0.788);
  margin-left: 40px;
  color: #000000;
}
.tool {
  display: inline;
  position:relative;
  border-style: none;
  font-family:'Montserrat', sans-serif;
  background-color:rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  color: rgb(14, 14, 14);
  max-width: 200px;
}

#lateral {
  display: inline-block;
  text-align: left;
  width: fit-content;
  padding: 20px 40px 20px 10px;
  border-radius: 4px;
  position: relative;
  color: rgb(0, 0, 0);
  vertical-align: top;
  margin-top: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0);
  font-family:'Montserrat', sans-serif;
  font-size: 17px;

}

.item-lateral{
  display: block;
}

.boton-lateral{
  display: block;
  width: fit-content;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  font-family:'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
}

.eliminar-categoria-img{
  height: 15px;
  transform: translate(-4px,3px);
  opacity: 0%;
  transition: 0.3s;
}


.boton-lateral:hover > .eliminar-categoria-img{
 display: inline;
 opacity: 37%;
 transition: 0;
 transform: translate(0,3px);
}

.boton-lateral:hover > .eliminar-categoria-img:hover{
  opacity: 75%;
}

.boton-categoria{
  border:none;
  text-align: center;
  font-family:'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
}

.botonLateral:hover {
  color: rgb(138, 91, 39);
}
.lat-menu {
  margin-bottom: 25px;
  margin-top: 10px;
}
.boton-lateral-patita{
  position:absolute;
  height: 30px;
  text-align: start;
  opacity: 40%;
  left:5px;
  transform: translateY(-7px);
}
#no-coincidencias{
  margin-top:65px;
  color:rgba(0, 0, 0, 0.76);
}
#contenedor-formulario{
  position:fixed;
  height:100vh;
  width: 100vw;
  background-color:rgba(0, 0, 0, 0.555);
  z-index:1000;
  display: flex;
  align-items: center;
  margin: 0;
  top:0px;
  left:0px;
}
.centrar{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  direction:row;
}
.cerrar{
  position:absolute;
  top:10px;
  right:15px;
  cursor:pointer;
  border:none;
  opacity:80%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2000;
}
.cerrar:hover{
  opacity: 100%;
}
.imagen-cerrar{
  height: 17px;
  cursor:pointer;
}
#contenedor-filtros{
  margin: 0px 18px;
  padding-top: 0px;
  padding-bottom: 12px;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
}
#filtros {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: rgba(0, 0, 0, 0.459);
}
#selector-categoria-out{
  text-align: end;
  flex-grow: 2;
  visibility: hidden;
}
#selector-categoria-out-boton{
  display: inline;
  border-width: 1px;
  border-color:#0000004f;
  padding:5px;
  background-color: #00000000;
  color: rgba(0, 0, 0, 0.671);
  font-size: 15px;
  margin-right: 40px;
  cursor:pointer;
  z-index: 5000;
  width: 110px;
}
#boton-agregar{
  background-color: rgb(224, 224, 224);
  border-color:rgba(97, 86, 86, 0.671);
  border-width: 0px;
  border-radius: 4px;
  color:rgb(112, 112, 112);
  margin-right: 10px;
  padding-top:4px;
  padding-bottom: 4px;
  height: 25px;
}
#boton-agregar:hover{
  background-color: rgba(211, 211, 211, 0.897);
  color:rgb(102, 102, 102);
}
#selector-categorias{
  width: 75vw;
  height: auto;
  min-height: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}
.selector-categorias-opcion{
  font-size: 17px;
  display: block;
  background-color: white ;
  border-width: 1px;
  border-color: #00000000;
  border-bottom-color:#00000062;
  color:#000000c5;
  height:60px;
  margin: 0;
  font-family:'Montserrat', sans-serif;
}
.controladorPaginas {
  background-color: rgba(255, 255, 255, 0.856);
  color: rgba(0, 0, 0, 0.829);
  border: none;
  border-radius: 3px;
  padding: 0px;
  font-size: 12px;
  border: solid;
  border-width: 1px;
  border-color: #a3a3a3;
}
.controladorPaginas:hover {
  color: rgb(0, 0, 0);
}
.material-symbols-numeros{
  height: 7px;
}
#numerosDePagina {
  display: inline;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
#selectorDePaginas {
  margin-bottom: 0px;
  height: 12px;
}
.numerosDePagina {
  background-color: rgba(240, 248, 255, 0);
  padding: 6px;
  border: solid;
  border-width: 1px;
  border-color: #a3a3a3;
  margin: 2px;
  margin-left: 6px;
  margin-right: 6px;
  transform: TranslateY(-25%);
  color: rgba(0, 0, 0, 0.76);
  border-radius: 3px;
  font-size: 13px;
}
.numerosDePagina:hover {
  color: black;
}
.material-symbols-outlined{
  font-size: 22px;
}
#desplegable{
	position: absolute;
	background: #ffffff;
	width: 150px;
  top:18px;
  left: -4px;
  visibility: hidden;
  z-index: 2000;
  padding: 8px;
  text-align: left;
}
.tool:hover #desplegable{
  visibility: visible;
}
.desplegable-tool{
  margin:10px;
  font-size: 13px;
  display: inline;
  cursor:pointer;
}
.desplegable-categoria{
	display: block;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
  padding-top: 12px ;
  padding-bottom: 12px;
  padding-left: 3px;
}
.desplegable-categoria:hover{
  background-color: rgba(131, 73, 8, 0.288);
}
.tool:active .desplegable{
  visibility: hidden;
}
#mensaje-espera{
  font-size: 15px;
  margin-top: 35px;
  color:rgba(0, 0, 0, 0.24);
  font-family:'Montserrat', sans-serif;
}

@keyframes transicionNavegador {
  0% {
    opacity: 0%;
    transform: translatey(-30px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes transicionProductos {
  0% {
    opacity: 0%;
    transform: translatey(5px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 1200px) {
 #galeria{
  width: 70vw;
  background-color: #7a9cac00;
 }
}

@media only screen and (max-width: 750px) {
  #lateral{
    display:none
  }
  #galeria{
    margin:0px;
    width: 96vw;
    padding: 0;
    margin-bottom: 50px;
  }
  #contenedor-store{
    margin:0;
    padding: 0;
  }
  .desplegable-categoria{
    display: block;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
    padding-top: 12px ;
    padding-bottom: 12px;
  }

  #selector-categoria-in{
    position:absolute;
    visibility: hidden;
  }
  .loadder{
    position:absolute;
    margin: auto;
    transform:translate(-93px,30px)
  }

  #contenedor-loading{
    margin: calc(35vh - 150px) auto;
  }


}

@media only screen and (max-width: 800px) {

  .tools {
    display: block;
  }

  #selector-categoria-out{
    visibility: visible;
  }

  #contenedor-filtros{
    width: 98vw;
    padding-top:15px ;
    margin:0;
  }

  #boton-agregar{
    height: fit-content;
  }

}
