<div id="contenedor-store">

<!-- Formularios -->

  <div id="contenedor-formulario" *ngIf="agregarProducto && getLogValue()">
    <div class="centrar">
      <button class="cerrar" (click)="switchAgregar()"><img class="imagen-cerrar" [src]="Imagen.delete"></button>
      <app-form-producto accion="agregar" Id="0"></app-form-producto>
    </div>
  </div>

  <app-alert
    *ngIf="mostrarEliminarCategoria"
    titulo="Seguro que desea eliminar esta categoria?"
    textoBoton="eliminar"
    textoCancelar="cancelar"
    [categoriaId]="eliminarCategoriaId"
    accion="eliminar-categoria"
    (mostrar)="switchEliminarCategoria($event,0)"
    ></app-alert>

  <div id="contenedor-formulario" *ngIf="mostrarSelectorCategorias">
    <div class="centrar">
      <div id="selector-categorias">

        <button class="selector-categorias-opcion" (click)="cambiarProductoM('all')">
          Ver todo
        </button>

        <button (click)="cambiarProductoM(categoria.categoria)" class="selector-categorias-opcion" *ngFor="let categoria of categorias">
          {{categoria.categoria}}
        </button>

      </div>
    </div>
  </div>

<!------------- Nav-bar ------------>

<app-nav actual="3" tema="claro"></app-nav>

<!--------------- Tools ------------->

<!--
<div id="contenedor-tools">

  <div class="tools">
    <span>Ordenar por:</span>
    <button class="tool" (click)="ordenarProductos('mayorPrecio')">Mayor precio</button>
    <button class="tool" (click)="ordenarProductos('menorPrecio')">Menor precio</button>
    <button class="tool" >Mas relevantes</button>
  </div>

  <div class="tools" id="selector-categoria-in">
    <span>Filtrar por:</span>
      <div class="tool" >

        <div class="desplegable-tool">{{ productoFiltro +" "}}
          <div style="opacity:70%;font-size:11px;display:inline;">▼</div>
        </div>

        <div>
          <div id="desplegable">
            <a class="desplegable-categoria" [href]="linkCategoria(categoria.id)" *ngFor="let categoria of categorias">
              <a class="tool">{{categoria.categoria}}</a>
            </a>
          </div>
        </div>
      </div>

  </div>
</div>
<img style="width:100%" src="https://puppis.vteximg.com.br/arquivos/ids/190746/2212-Website-Banner-Perro-Viaje-256030-237161-D.png?v=638120633641770000">
-->

<img style="width:100%" [src]="images.banner.store">


<!--------- Menu Lateral -------->

<div id="lateral">
  <div class="lat-menu">
    <span>Productos:</span>
    <button
      class="boton-lateral"
      (click)="cambiarProducto('all')"
    >
      Todos
    </button>

    <div *ngFor="let categoria of categorias" >
      <!--*ngIf="categoriasEnUso.includes(categoria.categoria)" -->

        <div class="boton-lateral">
          <button class="boton-categoria"  (click)="cambiarProducto(categoria.categoria)" [ngStyle]="{
            'color': categoria.categoria == productoFiltro ?  'rgb(138, 91, 39)': 'black'}
            " >{{categoria.categoria}}</button>
            <img *ngIf='getLogValue()' class='eliminar-categoria-img' src="assets\utils\delete.png" (click)="switchEliminarCategoria(true,categoria.id)">
        </div>

    </div>
  </div>

  <div class="lat-menu">
    <span>Ordenar:</span>

    <button class="boton-lateral" (click)="ordenarProductos('menorPrecio')">Menor precio</button>
    <button class="boton-lateral" (click)="ordenarProductos('mayorPrecio')">Mayor precio</button>
  </div>

</div>


<!--------- Productos -------->

<div id="galeria">
  <div *ngIf="listaDeProductos.length !== 0 || loading"  id="galeria">

    <div id="contenedor-filtros">
      <button *ngIf="getLogValue()" id="boton-agregar" (click)="switchAgregar()">Agregar Producto</button>

      <span id="filtros">{{"Tienda / " + productoFiltro }}</span>

      <div id="selector-categoria-out">
        <button id="selector-categoria-out-boton" (click)="switchSelectorCategorias()">Categorias<div style="opacity:70%;font-size:11px;display:inline;">▼</div></button>
      </div>
    </div>

    <div *ngIf="loading" id="contenedor-loading">
      <app-loadder id="loading" ></app-loadder>
    </div>


  <div *ngIf="listaDeProductos.length > 0 && !loading">
      <div
        class="contenedorProducto"
        *ngFor="let producto of listaDeProductos"
      >
      <app-producto-miniatura [producto]="producto"></app-producto-miniatura>

      </div>
  </div>

</div>


<!--------- Productos | No coincidencias-------->

<div *ngIf="listaDeProductos.length == 0  && !loading " id="galeria">
  <div id="contenedor-filtros">
    <button *ngIf="getLogValue()" id="boton-agregar" (click)="switchAgregar()">Agregar Producto</button>

    <span id="filtros">{{"Tienda / " + productoFiltro }}</span>

    <div id="selector-categoria-out">
      <button id="selector-categoria-out-boton" (click)="switchSelectorCategorias()">Categorias ></button>
    </div>

  </div>
  <div
  class="contenedorProducto"
>
<p id="no-coincidencias">{{textoAlternativo}}</p>
</div>
</div>

<a target="_blank" href="https://api.whatsapp.com/send?phone=+5493417238680&text=Hola!%20quiero%20realizar%20la%20siguiente%20consulta." ><img *ngIf="!getLogValue()" id="chat" [src]=Imagen.logoWsp ></a>

<!----------- Controlador de paginas -------------->

<div id="selectorDePaginas">
  <button class="controlador-simbolo controladorPaginas" (click)="primeraPagina()">
    <span class="material-symbols-outlined"> first_page </span>
  </button>
  <button class="controlador-simbolo controladorPaginas" (click)="anterior()">
    <span class="material-symbols-outlined"> navigate_before </span>
  </button>

  <div id="numerosDePagina" *ngFor="let pagina of listaPaginas">
    <button
      [ngStyle]="{
        'background-color': pagina == paginaActual ? '#F5F5F5' : 'white',
        padding: pagina == paginaActual ? '5px 7px 5px 7px' : '6px 8px 6px 8px',
        'font-size':
          pagina == paginaActual ? 'font-size: 11px' : 'font-size: 14px'
      }"
      class="numerosDePagina"
      (click)="cambiarPagina(pagina)"
    >
      {{ pagina }}
    </button>
  </div>

  <button class="controladorPaginas" (click)="siguiente()">
    <span class="controlador-simbolo material-symbols-outlined" > navigate_next </span>
  </button>

  <button href="tools" class="controladorPaginas" (click)="ultimaPagina()">
    <span class="material-symbols-outlined"> last_page </span>
  </button>
</div>

</div>
