
<!--
<div id="aviso-descuento">
  <p id="aviso-texto">{{textoDescuento.toUpperCase()}}</p>
</div>
-->
<div id="contenedor-nav"
  [ngStyle]="{'background-color':tema == 'oscuro' ? 'black' : 'white' }">
  <div>
    <button id="menu-desplegable" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a  href="#//home"mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a href="/" mat-menu-item>
        <mat-icon>question_answer</mat-icon>
        <span>Contactanos</span>
      </a>
      <a href="#//store/0" mat-menu-item>
        <mat-icon>redeem</mat-icon>
        <span>Tienda</span>
      </a>
      <a href="#//carrito" mat-menu-item>
        <mat-icon>shopping_cart</mat-icon>
        <span>Carrito</span>
      </a>
    </mat-menu>
  </div>

  <div id="contenedor-logo">
    <a href=""
    ><img [ngStyle]="{'filter':tema == 'oscuro' ? 'invert()' : 'none' }" id="logo" src="assets/logos/logo-texto.png"
    /></a>
  </div>

  <!--
  <div id="nav" >
    <a href="home" class="boton" id="nav-inicio" [ngStyle]="{'color':tema == 'oscuro' ? 'white' : 'black' }">INICIO</a> <span id="nav-inicio"  class="boton">|</span>
    <a href="store/0" class="boton" [ngStyle]="{'color':tema == 'oscuro' ? 'white' : 'black' }">TIENDA</a> <span class="boton">|</span>
    <a href="carrito" class="boton" [ngStyle]="{'color':tema == 'oscuro' ? 'white' : 'black' }">CARRITO</a>
    <!--<a href="pruebas" class="boton" [ngStyle]="estiloBoton(4)">pruebas</a>
  </div>
-->


  <div id="nav" >
    <a href="#/home" class="boton" [ngStyle]="estiloBoton(1)" id="nav-inicio">INICIO</a>
    <a *ngIf="!getLogValue()" target="_blank" href="https://api.whatsapp.com/send?phone=+5493417238680&text=Hola!%20quiero%20realizar%20la%20siguiente%20consulta." class="boton" [ngStyle]="estiloBoton(2)">CONTACTANOS</a>
    <a href="#/h12236456" *ngIf="getLogValue()" class="boton">PEDIDOS</a>
    <a href="#/store/0" class="boton" [ngStyle]="estiloBoton(3)">TIENDA</a>
    <a href="#/carrito" *ngIf="!getLogValue()" class="boton" [ngStyle]="estiloBoton(4)">CARRITO</a>
   <!-- <a href="#/pruebas" *ngIf="getLogValue()" class="boton" [ngStyle]="estiloBoton(4)">PRUEBAS</a> -->
  </div>

  <div id="contenedor-carrito">
    <a *ngIf="!getLogValue()" href="#/carrito" id="chango">
      <img *ngIf="tema == 'oscuro'" id="carrito" [src]="imagen.carritoBlanco"/>
      <img *ngIf="tema !== 'oscuro'" id="carrito" [src]="imagen.carrito"/>
      <p *ngIf="generar() !== 0" id="cantidad-productos">{{cantidadCarrito}}</p>
    </a>
  </div>
  <button *ngIf="getLogValue()" id="cerrar-sesion" (click)="logOut()">Cerrar sesion</button>
</div>
