<div style="height:100vh;">
  <app-nav></app-nav>
   <div class="contenedor-pruebas">


      <app-loadder></app-loadder>

      <h1>NgRx</h1>
      <p *ngFor="let producto of productosRx">{{producto.nombre}}</p>
   </div>
   <div class="contenedor-pruebas">
    <h1>Service</h1>
    <p *ngFor="let producto of serviceData">{{producto.nombre}}</p>
    <p>{{cantidadTotal}}</p>
 </div>

<div style="margin:10px;border-top-style:solid;border-width: 1px;text-align: center;height:fit-content;">
  <h4>Carrito:</h4>
  <div style="border-bottom-style:solid;border-width: 1px;width:150px;margin: 0 auto;" >
    <div *ngFor="let producto of carritoPrueba ">
    {{ producto.nombre + " | " + producto.precio }}
     </div>
  </div>
  total: $ {{ carritoPrueba[0].precio + carritoPrueba[0].precio + carritoPrueba[0].precio}}
</div>
</div>

