<div class="page-component">

  <app-image-input
  *ngIf="mostrarInputImage"
  [resource]="resource"
  [value]="inputImageValue"
  [imageNumber]="inputImageNumber"
  [action]="inputImageAction"
></app-image-input>

<!-- Formulario -->

<div id="contenedor-formulario" *ngIf="editarProducto">
  <div class="centrar">
    <button class="cerrar" (click)="switchEditar()"><img class="imagen-cerrar" [src]="Imagen.delete"></button>
    <app-form-producto accion="editar" [producto]="producto"></app-form-producto>
  </div>
</div>


<!----- Alert ----->

<app-alert
  *ngIf="mostrarAlert"
  titulo="Has añadido un producto al carrito:"
  [texto]="producto.nombre"
  textoBoton="Ok"
  accion = "actualizar"
  >
</app-alert>

<app-alert
  *ngIf="getMostrarAlertEliminar() && getLogValue()"
  titulo="Seguro que desea eliminar este producto?"
  [texto]="producto.nombre"
  textoBoton="Eliminar"
  textoCancelar="Cancelar"
  accion = "eliminar-producto"
  accionCancelar="actualizar"
  [productoId]="productoId">
</app-alert>

<!----------------->

<app-nav></app-nav>

<div id="contenido" [ngStyle]="{
  'cursor': loading ? 'wait': 'default'
}">

  <div *ngIf="loading" id="contenedor-loading">
    <app-loadder id="loading" ></app-loadder>
  </div>

  <div id="contenido-edicion" *ngIf="!loading">
    <a href="store/0">Tienda</a>{{ " / "+producto.categoria }}
      <button id="boton-editar" *ngIf="getLogValue()" (click)="switchEditar()">Editar</button>
      <button id="boton-editar" *ngIf="getLogValue()" (click)="switchEliminar()">Eliminar</button>
  </div>

  <div id="contenedor-imagenes-botones" *ngIf="!loading">

    <div id="imagenes-producto">
      <div id="miniaturas">
        <div *ngIf="!loadingImagenes">
          <div class="contenedor-miniatura fx-aparecer" *ngFor="let elemento of ImagenesProducto" (click)="cambiarImagen(elemento)">
            <img
              class="imagen-miniatura"
              [src]="elemento.imagen"

            />
          </div>
        </div>

        <img
        *ngIf="cantidadImagenes < 4 && getLogValue()"
        (click) = "switchInputImage(cantidadImagenes,'agregar')"
        style="opacity: 70%;"
        class="contenedor-miniatura" id="imagen-agergar"
        src="https://i.postimg.cc/7YPhDxTj/Plus-icon-icons-com-71848.png"
      />
      </div>


      <div id="contenedor-imagen">
        <button *ngIf="getLogValue()" style="position:absolute" class="boton3 eliminar-imagen" (click)="eliminarImagen(imagenSeleccionada.numero)">Eliminar imagen</button>
        <img id="imagen-producto" [src]="imagenSeleccionada.imagen" />
      </div>
    </div>


    <div id="descripcion">

      <div id="descripcion-edicion">
        {{ "Tienda / "+ producto.categoria }}
        <button id="boton-editar" *ngIf="getLogValue()" (click)="switchEditar()">Editar</button>
        <button id="boton-editar" *ngIf="getLogValue()" (click)="switchEliminar()">Eliminar</button>
      </div>


      <h2 id="titulo">{{ producto.nombre }}</h2>


      <h2 id="precio">{{ precio(producto.precio, 0) }}</h2>


      <div id="selector-cantidad">
        Cantidad:
        <input [(ngModel)]='cantidad'
        id="input-cantidad" type="number" min="1" max="5" value="1">
      </div>

      <p id="descripcion-corta">
        {{ producto.descripcioncorta }}
      </p>

      <div id="botones">
        <button class="boton1 boton-producto" (click)="agregarAlCarrito(producto.id,cantidad)">Comprar</button>
        <button class="boton2 boton-producto" (click)="agregarAlCarrito(producto.id,cantidad)">Agregar</button>
      </div>
      <div>
    </div>
    </div>
  </div>
  <div id="descripcion-larga" *ngIf="!loading">
    <h3 id="descripcion-titulo">Descripcion:</h3>
    <p id="texto-descripcion">
      {{ producto.descripcion }}
    </p>
  </div>

  <!--

  <div *ngIf="mostrarEspecificaciones" id="especificaciones">
    <div id="especificaciones-contenido">
    </div>
  </div>

  <button id="verMas" (click)="VerMas()">{{verMas}}</button>
  -->
</div>

<!---------- PRODUCTOS  RELACIONADOS  ----------->

  <div id="relacionados" *ngIf="!loading">
    <h2 id="relacionados-titulo">Productos relacionados:</h2>
    <div id="galeria">
      <div class="contenedorProducto" *ngFor="let elemento of productosRelacionados">
        <app-producto-miniatura
          (click)=actualizarProducto()
          class="producto"
          [producto]="elemento">
        </app-producto-miniatura>
      </div>
    </div>
  </div>
</div>
