<div class="page-component">


<!-- Formulario -->

<div id="contenedor-formulario" *ngIf="editarProducto">
  <div class="centrar">
    <button class="cerrar" (click)="switchEditar()"><img class="imagen-cerrar" [src]="Imagen.delete"></button>
    <app-form-producto accion="editar" [producto]="producto"></app-form-producto>
  </div>
</div>

<!----- Alert ----->

<app-alert
  *ngIf="mostrarAlert"
  titulo="Has añadido un producto al carrito:"
  [texto]="producto.nombre"
  textoBoton="Ok"
  accion = "actualizar"
  >
</app-alert>

<app-alert
  *ngIf="getMostrarAlertEliminar() && getLogValue()"
  titulo="Seguro que desea eliminar este producto?"
  [texto]="producto.nombre"
  textoBoton="Eliminar"
  textoCancelar="Cancelar"
  accion = "eliminar-producto"
  accionCancelar="actualizar"
  [productoId]="productoId">
</app-alert>

<!----------------->

<app-nav></app-nav>

<div  *ngIf="producto == undefined">
  <p id="mensaje-espera"></p>
</div>

<div id="contenido" [ngStyle]="{
  'cursor': producto == undefined ? 'wait': 'default'
}">


  <div id="contenido-edicion">
    <a href="store/0">Tienda</a>{{ " / "+producto.categoria }}
      <button id="boton-editar" *ngIf="getLogValue()" (click)="switchEditar()">Editar</button>
      <button id="boton-editar" *ngIf="getLogValue()" (click)="switchEliminar()">Eliminar</button>
  </div>



  <div id="imagenes-producto" *ngIf="producto !== undefined">
    <div id="miniaturas">
      <div class="contenedor-miniatura"*ngFor="let imagen of ImagenesProducto">
        <img
          class="imagen-miniatura"
          [src]="imagen"
          (click)="cambiarImagen(imagen)"
        />
      </div>
      <!--
      <img
      *ngIf="cantidadImagenes < 4 && logged"
      class="contenedor-miniatura" id="imagen-agergar"
      src="https://i.postimg.cc/7YPhDxTj/Plus-icon-icons-com-71848.png"
    />-->
    </div>


    <div id="contenedor-imagen">
      <img id="imagen-producto" [src]="imagenSeleccionada" />
    </div>
  </div>


  <div id="descripcion" *ngIf="producto !== undefined">

  <div id="descripcion-edicion">
    {{ "Tienda / "+ producto.categoria }}
    <button id="boton-editar" *ngIf="getLogValue()" (click)="switchEditar()">Editar</button>
    <button id="boton-editar" *ngIf="getLogValue()" (click)="switchEliminar()">Eliminar</button>
  </div>


    <h2 id="titulo">{{ producto.nombre }}</h2>
    <h2 id="precio">{{ precio(producto.precio, 0) }}</h2>

    <div id="selector-cantidad">
      Cantidad:
      <input [(ngModel)]='cantidad'
       id="input-cantidad" type="number" min="1" value="1">
    </div>
    <div id="botones">
      <button class="boton1" (click)="agregarAlCarrito(producto.id)">Comprar</button>
      <button class="boton2" style="margin-right:0" (click)="agregarAlCarrito(producto.id)">Agregar</button>
    </div>



    <p id="texto-descripcion">
      {{ producto.descripcion }}
    </p>
  </div>

  <!--

  <div *ngIf="mostrarEspecificaciones" id="especificaciones">
    <div id="especificaciones-contenido">
    </div>
  </div>

  <button id="verMas" (click)="VerMas()">{{verMas}}</button>
  -->


  <div id="relacionados" *ngIf="producto !== undefined ">
    <h2 id="relacionados-titulo">Productos relacionados:</h2>
    <div id="galeria">
      <div class="contenedorProducto" *ngFor="let elemento of productos">
        <app-producto-miniatura
          class="producto"
          *ngIf="(elemento.categoria == producto.categoria) &&elemento.nombre != producto.nombre"
          [producto]="elemento">
        </app-producto-miniatura>
      </div>
    </div>
  </div>

</div>
</div>
