p{
  margin:4px;
}

#barra-superior{
  height: 50px;
  background-color: rgb(224, 224, 224);
  box-shadow: 10px 10px 15px 3px rgba(0, 0, 0, 0.699);
  z-index: 4000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0);
}

#logo{
  margin-top: 10px;
  height: 30px;
  opacity: 70%;
}

#logo:hover{
  height: 31px;
  opacity: 100%;
}

#contenido{
background-color: rgb(255, 255, 255);
min-height: 86vh;
display: flex;
align-items: center;
z-index: 0;
}

#ventana-compra{
  min-height: 70vh;
  max-width: 800px;
  width: 80vw;
  background-color: rgba(228, 228, 228, 0.637);
  border-radius: 12px;
  margin: auto;
  border: solid;
  border-width: 1.5px;
  border-color: rgba(5, 5, 5, 0);
}

#barra-de-progreso{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nodo{
  background-color: rgb(158, 158, 158);
  height: 20px;
  width: 20px;
  border:solid;
  border-color: rgba(0, 0, 0, 0.692);
  display: inline-block;
  border-width: 1.5px;
  border-radius: 40px;
  transition:0.2s;
  border-style: none;
}

.linea-de-progreso{
  background-color: rgba(212, 212, 212, 0.219);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  display: inline-block;
  width: 17vw;
  height: 2px;
  margin: 6px;
}

#titulo{
  font-size: 16px;
  padding:2px;
  padding-bottom: 2px;
  font-family:'Montserrat', sans-serif;
  margin-bottom: 10px;
 }

button {
  background-color: rgb(42, 72, 241);
  height: 30px;
  min-width: 70px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
  color: white;
  margin:15px;
  margin-top: 10x;
  font-size: 15px;
  cursor:pointer;
  font-family: 'Red Hat Display', sans-serif;

}

button:hover{
  opacity: 92%;
}

a{
  font-family: 'Red Hat Display', sans-serif;
  height: 30px;
  min-width: 70px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
  margin:15px;
  margin-top: 10x;
  cursor:pointer;
  padding:6px;
}

#boton-volver{
  background-color: rgb(196, 196, 196);
  border-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.911);

}

#formularios{
  min-height: 54vh;
  margin-top: 20px;
}

form{
  min-height: 54vh;
}

.contenedor-inl{
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

.form-control{
  text-align: left;
  margin-top:5px;
  margin-bottom:15px;
  height: 25px;
  font-size: 15px;
  padding-left: 5px;
}
.form-control::placeholder{
  opacity: 70%;
}

.input-name{
  font-family:'Montserrat', sans-serif;
  text-align: left;
  font-size: 14px;
  margin-bottom: 0px;
}


#paso2-opciones{
  font-family:'Montserrat', sans-serif;
  align-items: center;
  text-align: center;
  font-size: 14px;
  width: 60vw;
  margin:50px  auto ;
  display: inline-block;

}

.paso2-opcion{
  width: fit-content;
  display: inline-flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}

.paso2-opcion-texto{
  width: 100px;
  height: 20px;
  text-align: center;
  }

.paso2-opcion-boton-imagen{
  height: 60px;
}

.paso2-opcion-boton{
  display: block;
  background-color: rgba(0, 0, 0, 0.137);
  height: 80px;
  width: 80px;
  border-radius: 8px;
  padding:0px;
  text-align: center;
}
