p{
  margin:4px;
}


#barra-superior{
  height: 50px;
  background-color: rgb(224, 224, 224);
  box-shadow: 10px 10px 15px 3px rgba(0, 0, 0, 0.699);
  z-index: 4000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0);
}

#logo{
  margin-top: 10px;
  height: 30px;
  opacity: 70%;
}

#logo:hover{
  height: 31px;
  opacity: 100%;
}

#contenido{
background-color: rgb(255, 255, 255);
min-height: 86vh;
display: flex;
align-items: center;
z-index: 0;
}

#ventana-compra{
  min-height: 70vh;
  max-width: 800px;
  width: 80vw;
  background-color: rgba(228, 228, 228, 0);
  border-radius: 10px;
  margin: auto;
  border: solid;
  border-width: 1.5px;
  border-color: rgba(5, 5, 5, 0.137);
  padding-bottom: 20px;
}

#titulo{
  font-size: 16px;
  padding:2px;
  padding-bottom: 2px;
  font-family:'Montserrat', sans-serif;
  margin-bottom: 10px;
 }




/*  ---  BARRA DE PROGRESO  ---  */


#barra-de-progreso{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nodo{
  background-color: rgb(158, 158, 158);
  height: 20px;
  width: 20px;
  border:solid;
  border-color: rgba(0, 0, 0, 0.692);
  display: inline-block;
  border-width: 1.5px;
  border-radius: 40px;
  transition:0.2s;
  border-style: none;
}

.linea-de-progreso{
  background-color: rgba(212, 212, 212, 0.219);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  display: inline-block;
  width: 17vw;
  height: 2px;
  margin: 6px;
}


/*  ---  BOTONES  ---  */


button {
  margin:15px;
  margin-top: 40px;
}

.boton1{
  height:30px;
  padding: 5px 20px;
  font-size: 16px;
  cursor:pointer;
}

.boton2{
  height:30px;
  padding: 5px 20px;
  font-size: 16px;
  cursor:pointer;
}

.volver-tienda{
  height:40px;
  padding: 5px 20px;
  font-size: 17px;
  cursor:pointer;
}

a{
  font-family: 'Red Hat Display', sans-serif;
  height: 30px;
  min-width: 70px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
  margin:15px;
  margin-top: 10px;
  cursor:pointer;
  padding:6px;
}

#volver{
  margin: auto 70px;
}


/*  ---  FORMULARIOS  ---  */

#formularios{
  min-height: 54vh;
  margin-top: 20px;
}

form{
  min-height: 54vh;
}

.validator-error-container{
  text-align: left;
  margin-left: 3px;
  transform: translateY(-21px);
}

.validator-error-msj{
  position:absolute;
  color:rgba(236, 51, 51, 0.829);
  font-family:'Montserrat', sans-serif;
  font-size: 14px;
}

.validator-error-msj-paso2{
  color:rgba(250, 15, 15, 0.562);
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  margin:15px;
}

.contenedor-inl{
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

.form-control{
  text-align: left;
  margin-top:5px;
  margin-bottom:15px;
  height: 25px;
  font-size: 15px;
  padding-left: 5px;
}
.form-control::placeholder{
  opacity: 70%;
}

.input-name{
  font-family:'Montserrat', sans-serif;
  text-align: left;
  font-size: 15px;
  margin-bottom: 0px;
  margin-top:14px;
}


/*  ---  OPCIONES DE PAGO  ---  */


#paso2{
 height: fit-content;
}

#paso2-opciones{
  font-family:'Montserrat', sans-serif;
  align-items: center;
  text-align: center;
  font-size: 14px;
  width: 800px;
  display: flex;
  flex-direction: column;

}

.paso2-opcion{
  flex-grow: 2;
  height: 100px;
  width: 700px;
  display: flex;
  flex-direction: row;
  margin: 20px;
  text-align: center;
  background-color: rgba(234, 255, 231, 0.63);
  align-items: center;
  position:relative;
  border-style: solid;
  border-color:rgba(0, 0, 0, 0.171);
  border-radius: 6px;
  border-width: 1px;
  padding: 60px 20px;
  cursor:pointer;
}
.paso2-opcion:hover{
  border-color: rgba(0, 0, 0, 0.315);
}

.paso2-opcion-info{
  font-family: 'Monserrat', sans-serif;
  width: fit-content;
  height: fit-content;
  text-align: center;
  position:relative;
  margin:5px;
  padding:6px;
  z-index:30000 ;
  display:flex;
  flex-direction: row;
  align-items: center;
  }

.paso2-opcion-info-titulo{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 17px;
  margin: 5px;
}

.paso2-opcion-info-texto{
  font-size: 16px;
  color:rgba(0, 0, 0, 0.726);
  margin: 10px 10px;
}

.paso2-opcion-boton-imagen{
  height: 60px;
  width: 100px;
  margin: 10px 10px;
  transform: translateY(-5px);
}
.paso2-opcion-boton-imagen2{
  height: 60px;
  width: 60px;
  margin: 10px 10px;
}
.paso2-opcion-boton-imagen-mini{
  height:min-content;
  max-height: 35px;
  width: 35px;
  align-items: center;
  align-content: center;
  margin:2px;
}
.paso2-opcion-boton{
  display: block;
  background-color: rgba(0, 0, 0, 0);
  height: 80px;
  width: 80px;
  border-radius: 8px;
  padding:0px;
  text-align: center;
  align-items: center;
}

#gracias{
  display:flex;
  text-align: center;
  align-items: center;
  font-family: 'Red Hat Display', sans-serif;
  height:30vh;
  align-content: center;
  color:rgba(0, 0, 0, 0.644);
}
#gracias-mensaje{
  flex-grow:1;
}

