
#load-fondo{
  display: flex;
  position:fixed;
  top:0;
  background-color:rgb(255, 255, 255);
  opacity:100%;
  width:100vw;
  height:100vh;
  vertical-align: center;
  align-items: center;
}

#contenedor-loading{
  position:relative;
  margin: calc(50vh - 150px) auto;
  height: 15px;
  width: 320px;
  text-align: center;  /*background-color: aqua;*/
}

#loading{
  position:relative;
}

@keyframes shadowPulse {
  33% {
    background: #e6e6e6;
    box-shadow: -24px 0 #7a9cac, 24px 0 #e6e6e6;
  }
  66% {
    background: #6f92a1;
    box-shadow: -24px 0 #e6e6e6, 24px 0 #FFF;
  }
  100% {
    background: #FFF;
    box-shadow: -24px 0 #ececec, 24px 0 #7fa1b1;
  }
}


.banners {
  margin: 0px;
  display: block;
  animation-name: mover;
  animation-duration: 0.3s;
  background-attachment:fixed;
}

#banner {
  background-attachment:fixed;
  background-size: contain;
  height:300px;
  width: 100vw;
}

/* -------- FILTROS ---------*/


#contenedor-filtros{
  display:inline-block;
  width: 100vw;
  margin-top: 2vw;
  margin-bottom: 3vw;
}

.filtros {
  display:inline-block;
  position: relative;
  /*animation-name: mover;
  animation-duration: 0.7s;*/
  width: fit-content;
  height: auto;
  margin:1vw;
  vertical-align: middle;
}
.imagen-filtro {
  width: var(--tamaño-filtro);
  height: var(--tamaño-filtro);
  object-fit:cover;
  display:inline-block;
  cursor: pointer;
  overflow: hidden;
}
.etiqueta-filtro{
  width: var(--tamaño-filtro);
  height: calc( var(--tamaño-filtro) / 5 );
  margin-top: calc(var(--tamaño-filtro) - calc( var(--tamaño-filtro) / 5 ) );
  background-color: rgba(9, 10, 16, 0.257);
  color: rgb(255, 255, 255);
  font-family: 'Monserrat', sans-serif;
  font-size: 2vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  display:flex;
  top:0;
  left: 0;
}
.etiqueta-filtro:hover {
  background-color: rgba(0, 0, 0, 0.329);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.etiqueta2{
  font-size: 1.8vw;
}
/* -------------------*/


#slide-productos{
  background-color: rgba(209, 209, 209, 0);
  width: 100vw;
  margin: auto 20px;
  border-radius: 5px;
}
.contenedorProducto {
  display: inline;
  margin:0.6vw;
}
#ver-todos{
  cursor: pointer;
  padding: 4px 8px 4px 8px;
  font-family: 'Red Hat Display', sans-serif;
}
#recomendados-titulo{
  display:inline-block;
  text-align: left;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 25px;
  width: 35vw;
}
#recomendados-boton{
  display:inline-block;
  text-align: end;
  font-size: 25px;
  width: 40vw;
}
#chat {
  position: fixed;
  height: 45px;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  animation-name: chat;
  animation-duration: 1s;
}
#chat:hover {
  height: 55px;
}

@keyframes mover {
  0% {
    opacity: 0%;
    transform: translateX(-15px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes chat {
  0% {
    opacity: 0%;
  }
  100% {
  }
}

@keyframes moverDescripcionBanner {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
    transform: translateX(40px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 800px) {
  .producto {

    width: 150px;
    height: 310px;

    padding: 13px;
    margin: 14px;
    margin-top: 4px;
  }

  #slide-productos{
    background-color: rgba(209, 209, 209, 0);
    width: 98vw;
    margin: 20px auto;
  }


  .filtros {
    width: 40vw;
    height: 40vw;
    font-size: 22px;
    margin:2vw;
  }
  .imagen-filtro {
    width: 40vw;
    height: 40vw;
    position: relative;
  }
  .etiqueta-filtro{
    width: 40vw;
    height: 8vw;
    font-size: 5vw;
    margin-top:32vw;
    background-color: rgba(0, 0, 0, 0.322);
  }
  .etiqueta2{
    font-size: 4vw;
  }

  }

  /*
.titulo-banner {
  position: absolute;
  top: 270px;
  left: 10%;
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-family: 'Red Hat Display', sans-serif;
  animation-name: moverDescripcionBanner;
  animation-duration: 1.4s;
}
.descripcion-banner {
  position: absolute;
  top: 350px;
  left: 10%;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: 'Red Hat Display', sans-serif;
  animation-name: moverDescripcionBanner;
  animation-duration: 1.1s;
}
.descuento-banner{
  position: absolute;
  top: 245px;
  left: 10%;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.918);
  font-size: 18px;
  font-family: 'Red Hat Display', sans-serif;
  animation-name: moverDescripcionBanner;
  animation-duration: 1.2s;
  padding-left: 5px;
  padding-right: 5px;
}*/
