<!-----  Formularios ------>

<app-editar-portada recurso="portada" *ngIf="showEditarPortada" (actualizar)="switchEditarPortada($event)" (mostrar)="switchEditarPortada()" [portadaActual]="this.portada"></app-editar-portada>
<app-editar-filtro [categorias]="categorias" (mostrar)="switchEditarFiltro()" [filtro]="filtroFromForm"  *ngIf="showEditarFiltro" [categorias]="categorias"></app-editar-filtro>
<app-alert *ngIf="showAlertFiltro" textoBoton="OK" textoCancelar="Cancelar" (mostrar)="switchAlertFiltro()" [filtroId]="deleteFilterId" accion="eliminar-filtro" titulo="Seguro que desea eliminar este filtro?"></app-alert>
<!----- ------------ ------>

<app-nav actual="1" tema="claro"></app-nav>

<div id="load-fondo" *ngIf="loading"></div>

<div *ngIf="loading" id="contenedor-loading">
  <app-loadder id="loading" ></app-loadder>
</div>

<div [ngStyle]="{'opacity': loading==true ? '0%':'100%'}" class="page-component">


  <div *ngIf="getLogValue()" id="home-boton-portada">
    <button type="button" class="boton1" (click)="switchEditarPortada()" id="home-boton-portada-boton">Editar portada</button>
  </div>

  <img style="width:100vw" [src]='this.portada'>

<div id="contenedor-filtros">
  <div>
    <div (click)="filtrosClick(filtro.categoria)" *ngFor="let filtro of homeFiltros" class="filtros">

      <div *ngIf="getLogValue()" class="filtro-botones">
        <button (click)="switchAlertFiltro(filtro.id)"><img class="filtro-icon-delete" src="assets/utils/delete.png"></button>
        <button (click)="switchEditarFiltro(filtro)" ><img class="filtro-icon" src="assets/utils/edit.png"></button>
      </div>

      <img
        class="imagen-filtro"
        [src]="filtro.imagen"
      />

      <span *ngIf="!getLogValue()" class="etiqueta-filtro">{{filtro.nombre}}</span>
      <a *ngIf="getLogValue()" class="etiqueta-filtro">{{filtro.nombre}}</a>
  </div>

    <div class="filtros" *ngIf="getLogValue()">
      <button (click)="switchEditarFiltro()" id="agregar-filtro">
        +
        <p>Agregar filtro</p>
      </button>
    </div>

  </div>
</div>


<div id="slide-productos">
  <div id="recomendados"><p id="recomendados-titulo">Recomendados:</p><div id="recomendados-boton"><a href="/#/store/0" class="boton1" id="ver-todos">Ver todos</a></div></div>
    <div
    class="contenedorProducto"
    *ngFor="let producto of productosRecomendados"
     >
     <app-producto-miniatura [producto]="producto"></app-producto-miniatura>
  </div>
  <div *ngIf="loading" class="contenedor-loading">
    <span class="loader"></span>
  </div>
</div>

<a target="_blank" href="https://api.whatsapp.com/send?phone=+549341157238680&text=Hola!%20quiero%20realizar%20la%20siguiente%20consulta." ><img *ngIf="!getLogValue()" id="chat" [src]=imagen.logoWsp ></a>

</div>
