<app-nav tema="claro"></app-nav>

<body>
  <!--
  <div class="banners"
    ><img id="banner" src="https://i.postimg.cc/wjMMmwZt/banner8.png" value="sdfd"
    />
    <div class="descuento-banner">20% OFF a partir de las 10 unidades</div>
    <div class="titulo-banner">Lo mejor para tu mascota</div>
    <div class="descripcion-banner">Al mejor precio</div>
    <a href="/store/0" class="boton">Ir a la tienda</a>
  </div>

  -->

<div id="contenedor-filtros">
  <div *ngIf="true">
    <a class="filtros">
      <img
        class="imagen-filtro"
        src="https://media.istockphoto.com/id/183770030/es/foto/collar%C3%ADn-de-perro.jpg?s=612x612&w=0&k=20&c=sEvDY9aewUd64KJQNNKnxe6JC8XueUOeJRb2SPWfwWQ="
      />
      <a class="etiqueta-filtro">collares</a>
    </a>
    <a class="filtros"
        ><img
          class="imagen-filtro"
          src="https://i.postimg.cc/WpdLs9Ly/201026124128-dogcoatsgoldpaw-super-169.png"
      />
      <a class="etiqueta-filtro">Abrigos</a>
    </a>
    <a class="filtros"
      ><img
        class="imagen-filtro"
        src="https://cdn.shopify.com/s/files/1/0185/9786/products/LSH-1-X-4-RYL_MAIN.jpg?v=1626794959"
      />
      <a class="etiqueta-filtro">Correas</a>
    </a>

    <a class="filtros"
      ><img
        class="imagen-filtro"
        src="https://http2.mlstatic.com/D_NQ_NP_799006-MLA47380703999_092021-O.webp"
      />
      <a class="etiqueta-filtro">Colchonetas</a>
    </a>

      <a class="filtros"
        ><img
          class="imagen-filtro"
          src="https://http2.mlstatic.com/D_NQ_NP_983112-MLA40337359386_012020-O.webp"
      />
      <a class="etiqueta-filtro">Fundas para auto</a>
    </a>


  </div>
</div>


<div id="slide-productos">
  <div id="recomendados"><p id="recomendados-titulo">Recomendados:</p><div id="recomendados-boton"><a href="/store/0" id="ver-todos">Ver todos</a></div></div>
    <div
    class="contenedorProducto"
    *ngFor="let producto of productosRecomendados"
     >
    <a [href]="productoLink(producto)" class="producto">
      <div id="contenedor-imagen">
        <img [src]="producto.imagen1" class="imagen" />
      </div>

      <div id="descripcion">
        <p class="nombre-producto">{{ producto.nombre }}</p>
        <p class="descripcion-producto">
          {{ longitud(producto.descripcioncorta.toString(), 30) }}...
        </p>
        <p class="precio-producto">{{ precio(producto.precio, 0) }}</p>
      </div>
    </a>
  </div>
</div>

</body>

<img *ngIf="!getLogValue() && false" id="chat" [src]=imagen.logoWsp >
