
body{
  background-color: rgb(255, 255, 255);
}

.banners {
  margin: 0px;
  display: block;
  animation-name: mover;
  animation-duration: 0.3s;
}
#banner {
  border-radius: 2px;
  width: 98.8vw;
  opacity: 92%;
}
.titulo-banner {
  position: absolute;
  top: 270px;
  left: 10%;
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-family: 'Red Hat Display', sans-serif;
  animation-name: moverDescripcionBanner;
  animation-duration: 1.4s;
}
.descripcion-banner {
  position: absolute;
  top: 350px;
  left: 10%;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: 'Red Hat Display', sans-serif;
  animation-name: moverDescripcionBanner;
  animation-duration: 1.1s;
}
.descuento-banner{
  position: absolute;
  top: 245px;
  left: 10%;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.918);
  font-size: 18px;
  font-family: 'Red Hat Display', sans-serif;
  animation-name: moverDescripcionBanner;
  animation-duration: 1.2s;
  padding-left: 5px;
  padding-right: 5px;
}


#contenedor-filtros{
  display:inline-block;
  width: 95vw;
  padding:15px;
}
.filtros {
  display:inline-block;
  position: relative;
  animation-name: mover;
  animation-duration: 0.7s;
  width: 200px;
  height: 210px;
  margin:15px;
  margin-top: 0px;
  vertical-align: middle;
  font-size: 22px;
}
.filtros:hover{
  font-size: 24px;
}
.imagen-filtro {
  display:inline-block;
  max-width: 180px;
  max-height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  margin-bottom: 15px;
}
.etiqueta-filtro{
  color: rgba(0, 0, 0, 0.938);
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  width: 200px;
  position: absolute;
  bottom: 5px;
  left: 0px;
  z-index: 100;
}
.etiqueta-filtro:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.boton{
  cursor: pointer;
  background-color: rgba(51, 113, 228, 0.938);
  height: 28px;
  width: 140px;
  border-radius: 5px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  border-style: none;
  color: white;
  padding:5px;
  position: absolute;
  top: 440px;
  left: 30%;
  animation-name: moverDescripcionBanner;
  animation-duration: 1s;
}
.boton:hover{
  background-color: rgba(51, 113, 228, 0.973);
}

#slide-productos{
  background-color: rgba(209, 209, 209, 0);
  width: 80vw;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.nombre-producto {
  font-size: 17px;
  min-height: 40px;
}
.descripcion-producto {
  font-size: 15px;
  margin: 1px;
  min-height: 40px;
}
.precio-producto {
  color: rgba(16, 100, 16, 0.836);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}
.imagen {
  max-height: 150px;
  max-width: 150px;
  background-color: rgba(0, 0, 0, 0.185);
  margin-bottom: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contenedor-imagen{
  position: relative;
  vertical-align: middle;
  height: 150px;
  width: 150px;
}
.producto {
  display: inline-block;
  width: 150px;
  height: 310px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 13px;
  margin: 14px;
  margin-top: 4px;
  /*box-shadow: 10px 10px 15px 3px rgba(0, 0, 0, 0.137);*/
  cursor: pointer;
  animation-name: transicionProductos;
  animation-duration: 0.4s;
  border-style: solid;
  border-width: 1px ;
  border-color: rgb(197, 197, 197);
}
.contenedorProducto {
  display: inline;
}
#ver-todos{
  cursor: pointer;
  background-color: rgba(33, 94, 187, 0.856);
  padding:2px 4px 2px 4px;
  border-radius: 5px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  border-style: none;
  color: white;
}
#ver-todos:hover{
  background-color: rgb(33, 95, 187);
}
#recomendados-titulo{
  display:inline-block;
  text-align: left;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 25px;
  width: 35vw;
}
#recomendados-boton{
  display:inline-block;
  text-align: end;
  font-size: 25px;
  width: 40vw;
}

#chat {
  position: fixed;
  height: 45px;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  animation-name: chat;
  animation-duration: 1s;
}
#chat:hover {
  height: 55px;
}

@keyframes mover {
  0% {
    opacity: 0%;
    transform: translateX(-15px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}
@keyframes chat {
  0% {
    opacity: 0%;
  }
  100% {
  }
}
@keyframes moverDescripcionBanner {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
    transform: translateX(40px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 800px) {
  .producto {

    width: 150px;
    height: 310px;

    padding: 13px;
    margin: 14px;
    margin-top: 4px;
  }

  #slide-productos{
    background-color: rgba(209, 209, 209, 0);
    width: 98vw;
    margin: 20px auto;
  }

  }
